{% extends 'partials/_master.twig' %}

{% setcontent omoss = 'sida/om-oss' %}

{% block main %}

    <div class="hero overlay" style="background-image: url({{ image(rtf.jumbotronbild, 1300, 800) }});">
		<section class="container text-center">
			<h1 data-bolt-field="templatefields[jumbotronrubrik]" class="hello-stockholm-large">{{ rtf.jumbotronrubrik }}</h1>
			<h3 data-bolt-field="templatefields[jumbotrontext]">
			  {{ rtf.jumbotrontext }}
			</h3>
		</section>
    </div>



    <div class="bg-striped">
	<section class="container ">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
	      
	      <h2>Älska Jesus och lev för andra</h2>
		{{ omoss.templatefields.alskajesus }}
		<p>
		    Det vi fått av Gud vill vi ge vidare till dig,<br>
		    välkommen till Team Med Uppdrag!
		</p>
	    </div>
	  </div>
	</section> <!-- /container -->
    </div>


    <div class="bg-striped">
    	<section class="container">
	  <h2 class="content-divider">Utvalda utbildningar</h2>
	    {% for utbildningId in rtf.utvaldautbildningar %}
	    {% setcontent utbildning = 'utbildningar' where { 'id': utbildningId } returnsingle %}
		{% include 'partials/_utbildning-front.twig' %}
	    {% endfor %}
	    <div class="text-center">
	     <a href="/utbildningar" class="btn btn-info">Visa alla utbildningar</a>
	    </div>
	</section>
    </div>




    <div class="bg-striped">
	<section class="container">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
	      
	      <h2>Team Med Uppdrag</h2>
	      {{ omoss.templatefields.omoss }}
	     <a href="/{{ omoss.slug }}" class="btn btn-info">Läs mer om oss</a>
	    </div>
	  </div>
	</section> <!-- /container -->
    </div>



{% endblock main %}
