{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="hero" style="background-image: url({{ image(rtf.jumbotronbild, 1300, 400) }});">
	<section class="container">
	  <!-- Main component for a primary marketing message or call to action -->
	  <div class="jumbotron">
	    <h1 data-bolt-field="templatefields[jumbotronrubrik]">{{ rtf.jumbotronrubrik }}</h1>
	    <h2 data-bolt-field="templatefields[jumbotrontext]" class="condensed-paragraphs">
	      {{ rtf.jumbotrontext }}
	    </h2>
	  </div>
	</section>
    </div>



    <section class="container ">
      <div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
	  
	  <h1 data-bolt-field="templatefields[presentationsrubrik]">{{ rtf.presentationsrubrik }}</h1>
	  <div data-bolt-field="templatefields[presentationstext]">
	    {{ rtf.presentationstext }}
	  </div>
	</div>
      </div>

    </section> <!-- /container -->


    <div class="container-gray">
    	<section class="container">
	  <h1 class="text-center">Utvalda kurser</h1>
	    {% for kursId in rtf.utvaldakurser %}
	    {% setcontent kurs = 'kurser' where { 'id': kursId } returnsingle %}
	     <a href="kurs/{{ kurs.slug }}">
	      <div class="row row-bottom-gutter bg-white kurs-front">
	      	<div class="col-sm-6 col-md-4 col-no-gutter">
		  <img src="{{ kurs.omslagsbild|image(680, 520, 'c') }}" class="img-responsive">
		</div>
	      	<div class="col-sm-6 col-md-8 kurs-info">
		    <h3>{{ kurs.namn }}</h3>
		    <div>{{ kurs.omslagstext }}</div>
	      	</div>
	      </div>
	     </a>
	    {% endfor %}
	</section>
    </div>

    {# todo: % include 'partials/_kurser.twig' %#}



    <section class="container">
      <div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
	  
	  {% setcontent omoss = 'block/om-oss-teaser' %}
	  <h1>{{ omoss.rubrik }}</h1>
	  {{ omoss.text }}
	 <a href="{{ omoss.lank }}" class="btn btn-info">Läs mer om oss</a>
	</div>
      </div>
    </section> <!-- /container -->



{% endblock main %}
