{% extends 'partials/_master.twig' %}

{% setcontent omoss = 'sida/om-oss' %}

{% block main %}

    <div class="hero" style="background-image: url({{ image(rtf.jumbotronbild, 1300, 400) }});">
	<section class="container text-center">
	    <h1 data-bolt-field="templatefields[jumbotronrubrik]" class="hello-stockholm-large">{{ rtf.jumbotronrubrik }}</h1>
	    <h3 data-bolt-field="templatefields[jumbotrontext]" class="condensed-paragraphs">
	      {{ rtf.jumbotrontext }}
	    </h3>
	</section>
    </div>



    <div class="bg-striped">
	<section class="container ">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
	      
	      <h2>Älska Jesus och lev för andra</h2>
		{{ omoss.templatefields.alskajesus }}
		<p>
		    Det vi fått av Gud vill vi ge vidare till dig,<br>
		    välkommen till Team Med Uppdrag!
		</p>
	    </div>
	  </div>
	</section> <!-- /container -->
    </div>


    <div class="bg-striped">
    	<section class="container">
	  <h2 class="content-divider">Utvalda kurser</h2>
	    {% for kursId in rtf.utvaldakurser %}
	    {% setcontent kurs = 'kurser' where { 'id': kursId } returnsingle %}
	     <a href="kurs/{{ kurs.slug }}">
	      <div class="row row-bottom-gutter bg-white kurs-front">
	      	<div class="col-sm-6 col-md-4 col-no-gutter">
		  <img src="{{ kurs.omslagsbild|image(680, 520, 'c') }}" class="img-responsive">
		</div>
	      	<div class="col-sm-6 col-md-8 kurs-info">
		    <h3>{{ kurs.namn }}</h3>
		    <div>{{ kurs.omslagstext }}</div>
	      	</div>
	      </div>
	     </a>
	    {% endfor %}
	</section>
    </div>

    {# todo: % include 'partials/_kurser.twig' %#}



    <div class="bg-striped">
	<section class="container">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
	      
	      <h2>Team Med Uppdrag</h2>
	      {{ omoss.templatefields.omoss }}
	     <a href="/{{ omoss.slug }}" class="btn btn-info">Läs mer om oss</a>
	    </div>
	  </div>
	</section> <!-- /container -->
    </div>



{% endblock main %}
