{% extends 'partials/_master.twig' %}

{% block headincludes %}

    <style type="text/css">
	.columns {
	    columns: 335px 2;
	}
	.columns p {
	    display: inline-block;
	}
    </style>
{% endblock %}

{% block main %}

    <div class="hero" style="background-image: url({{ image(record.omslagsbild, 1300, 400) }});">
	<section class="container">
	  <!-- Main component for a primary marketing message or call to action -->
	  <div class="jumbotron">
	    <h1 data-bolt-field="namn">{{ record.namn }}</h1>
	    <h2>
	      <p>
		En del av <a href="{{ record.folkhogskolelank }}" data-bolt-field="folkhogskola">{{ record.folkhogskola }}</a>
	      </p>
	    </h2>
	  </div>
	</section>
    </div>



    <section class="container ">

      <div class="row row-bottom-gutter">
	  <div class="col-md-12">
	      <h2> {{ record.namn }} </h2>
	  </div>
	  <div class="col-md-8">
	    {{ record.introduktionstext }}
	  </div>
	  <div class="col-md-4">
		  <a href="#" class="btn btn-primary btn-block">Sök till utbildningen</a>
		  <a href="#" class="btn btn-info btn-block">Läs visionstexten</a>
		  <div class="text-center">
		      Texten beskriver vår vision med utbildningen och vad vi hoppas att du som elev ska gå igenom under året.
		  </div>
	  </div>
      </div>
    </section>
    <div class="container-gray">
    <section class="container ">
      <div class="row row-bottom-gutter">
	
      {% for inriktning in record.inriktningar %}
      	<div class="col-sm-6">
		    <h3 data-bolt-field="inriktningar[{{ loop.index0 }}][rubrik]">{{ inriktning.rubrik }}</h3>
		    <div data-bolt-field="inriktningar[{{ loop.index0 }}][text]">{{ inriktning.text|raw }}</div>
      	</div>
	{% endfor %}
      </div>




    </section>
  </div>
    <section class="container ">

      <div class="row row-bottom-gutter">
      	<div class="col-lg-12">
		<h2 class="text-center" data-bolt-field="generellrubrik">{{ record.generellrubrik }}</h2>
		<div class="columns" data-bolt-field="generellt">{{ record.generellt }}</div>
	</div>
      </div>




    </section> <!-- /container -->

      {% if record.inriktningar %}
      <div class="container-gray">
	<section class="container ">
	    <h2 class="text-center row-bottom-gutter">Syfte och mål</h2>
	  <div class="row row-bottom-gutter">
      {% for syfte in record.syfte %}

	    <div class="col-sm-3 text-center">
	      <img src="{{ paths.files }}{{ syfte.ikon }}" class="row-bottom-gutter" width="75" height="75" />
		<p data-bolt-field="syfte[{{ loop.index0 }}][text]">
		    {{ syfte.text }}
		</p>
	    </div>
	{% endfor %}


	  </div>
	</section>
      </div>
      {% endif %}
    <section class="container ">

      <div class="row row-bottom-gutter">
      	<div class="col-lg-12">
		<h2 class="text-center" data-bolt-field="generellrubrik">Praktisk information</h2>
		<div class="columns" data-bolt-field="praktiskinfo">
		
		  {{ record.praktiskinfo }}
		
		</div>
	</div>
      </div>




    </section> <!-- /container -->
    </div>

{% endblock main %}
